<!DOCTYPE html>
<html>
<head>
	<title>AngularJS</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="loadProducts()">

	<span class="table-header header-top-offset">You can add new products here</span>
	<table id="new-product">
		<tr>
			<th>Product name</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
			<th></th>
		</tr>
		<tr>
			<td style="text-align:center"><input type="text"   ng-model="name"></td>
			<td style="text-align:center"><input type="number" ng-model="calories"></td>
			<td style="text-align:center"><input type="number" ng-model="proteins"></td>
			<td style="text-align:center"><input type="number" ng-model="fats"></td>
			<td style="text-align:center"><input type="number" ng-model="carbohydrates"></td>
			<td style="text-align:center"><input type="button" value="Save" ng-click="saveProduct()" /></td>
		</tr>
	</table>

	<span class="table-header header-top-offset">Choose products that you have eat today</span>
	<table id="list-products">
		<tr>
			<th>Product name</th>
			<th>Weight</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
		</tr>
		<tr ng-repeat="x in products | orderBy:'name'">
			<td data-column="name" 										contenteditable ng-blur="updateProduct($event, this)">{{ x.name }}</td>
			<td style="text-align:center"><input type="number" ng-blur="calculate(this, $event)"></td>
			<td style="text-align:center" data-column="calories" 		contenteditable ng-blur="updateProduct($event, this)">{{ x.calories }}</td>
			<td style="text-align:center" data-column="proteins" 		contenteditable ng-blur="updateProduct($event, this)">{{ x.proteins }}</td>
			<td style="text-align:center" data-column="fats" 			contenteditable ng-blur="updateProduct($event, this)">{{ x.fats }}</td>
			<td style="text-align:center" data-column="carbohydrates" 	contenteditable ng-blur="updateProduct($event, this)">{{ x.carbohydrates }}</td>
		</tr>
	</table>

	<span class="table-header header-top-offset" ng-show="trig()">Calculated values</span>
	<table id="summary" ng-show="trig()">
		<tr>
			<th ng-click="sortBy('name')">
				Product name
				<span class="sortorder" ng-show="order === 'name'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('weight')">
				Weight
				<span class="sortorder" ng-show="order === 'weight'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('calories')">
				Calories
				<span class="sortorder" ng-show="order === 'calories'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('proteins')">
				Proteins
				<span class="sortorder" ng-show="order === 'proteins'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('fats')">
				Fats
				<span class="sortorder" ng-show="order === 'fats'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('carbohydrates')">
				Carbohydrates
				<span class="sortorder" ng-show="order === 'carbohydrates'" ng-class="{reverse: reverse}"></span>
			</th>
		</tr>

		<tr ng-repeat="x in list | orderBy:order:reverse">
			<td>{{ x.name }}</td>
			<td style="text-align:center">{{ x.weight }}</td>
			<td style="text-align:center">{{ x.calories | number: 1 }}</td>
			<td style="text-align:center">{{ x.proteins | number: 1 }}</td>
			<td style="text-align:center">{{ x.fats | number: 1 }}</td>
			<td style="text-align:center">{{ x.carbohydrates | number: 1 }}</td>
		</tr>

		<tr>
			<td>Summary</td>
			<td style="text-align:center">{{ summaryObj.totalWeight }}</td>
			<td style="text-align:center">{{ summaryObj.totalCalories | number: 1 }}</td>
			<td style="text-align:center">{{ summaryObj.totalProteins | number: 1 }}</td>
			<td style="text-align:center">{{ summaryObj.totalFats | number: 1 }}</td>
			<td style="text-align:center">{{ summaryObj.totalCarbohydrates | number: 1 }}</td>
		</tr>
	</table>

	<input id="clear-button" type="button" value="Clear" ng-show="trig()" ng-click="clearTable()">
</div>

<script src="js/script.js"></script>

</body>
</html>