<!DOCTYPE html>
<html>
<head>
	<title>AngularJS</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="loadProducts()">

	<span class="table-header header-top-offset">You can add new products here</span>
	<table id="new-product">
		<tr>
			<th>Product name</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
			<th></th>
		</tr>
		<tr>
			<td style="text-align:center"><input type="text"   ng-model="name"></td>
			<td style="text-align:center"><input type="number" ng-model="calories"></td>
			<td style="text-align:center"><input type="number" ng-model="proteins"></td>
			<td style="text-align:center"><input type="number" ng-model="fats"></td>
			<td style="text-align:center"><input type="number" ng-model="carbohydrates"></td>
			<td style="text-align:center"><input type="button" value="Save" ng-click="saveProduct()" /></td>
		</tr>
	</table>

	<span class="table-header header-top-offset">Choose products that you have eat today</span>
	<table id="list-products">
		<tr>
			<th>Product name</th>
			<th>Weight</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
		</tr>
		<tr ng-repeat="x in products">
			<td data-column="name" 										contenteditable ng-blur="updateProduct($event, this)">{{ x.name }}</td>
			<td style="text-align:center"><input type="number" ng-blur="calculate(this, $event)"></td>
			<td style="text-align:center" data-column="calories" 		contenteditable ng-blur="updateProduct($event, this)">{{ x.calories }}</td>
			<td style="text-align:center" data-column="proteins" 		contenteditable ng-blur="updateProduct($event, this)">{{ x.proteins }}</td>
			<td style="text-align:center" data-column="fats" 			contenteditable ng-blur="updateProduct($event, this)">{{ x.fats }}</td>
			<td style="text-align:center" data-column="carbohydrates" 	contenteditable ng-blur="updateProduct($event, this)">{{ x.carbohydrates }}</td>
		</tr>
	</table>

	<span class="table-header header-top-offset" ng-show="trig()">Calculated values</span>
	<table id="summary" ng-show="trig()">
		<tr>
			<th ng-click="sortBy('name')">
				Product name
				<span class="sortorder" ng-show="order === 'name'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('weight')">
				Weight
				<span class="sortorder" ng-show="order === 'weight'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('calories')">
				Calories
				<span class="sortorder" ng-show="order === 'calories'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('proteins')">
				Proteins
				<span class="sortorder" ng-show="order === 'proteins'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('fats')">
				Fats
				<span class="sortorder" ng-show="order === 'fats'" ng-class="{reverse: reverse}"></span>
			</th>
			<th ng-click="sortBy('carbohydrates')">
				Carbohydrates
				<span class="sortorder" ng-show="order === 'carbohydrates'" ng-class="{reverse: reverse}"></span>
			</th>
		</tr>

		<tr ng-repeat="x in list | orderBy:order:reverse">
			<td>{{ x.name }}</td>
			<td style="text-align:center">{{ x.weight }}</td>
			<td style="text-align:center">{{ x.calories | number: 1 }}</td>
			<td style="text-align:center">{{ x.proteins | number: 1 }}</td>
			<td style="text-align:center">{{ x.fats | number: 1 }}</td>
			<td style="text-align:center">{{ x.carbohydrates | number: 1 }}</td>
		</tr>

		<tr>
			<td>Summary</td>
			<td style="text-align:center">{{ summaryObj.totalWeight }}</td>
			<td style="text-align:center">{{ summaryObj.totalCalories | number: 1 }}</td>
			<td style="text-align:center">{{ summaryObj.totalProteins | number: 1 }}</td>
			<td style="text-align:center">{{ summaryObj.totalFats | number: 1 }}</td>
			<td style="text-align:center">{{ summaryObj.totalCarbohydrates | number: 1 }}</td>
		</tr>
	</table>
</div>

<script>
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope, $http) {
	$scope.products = [];

	$scope.name = "";
	$scope.weight;
	$scope.calories;
	$scope.proteins;
	$scope.fats;
	$scope.carbohydrates;

	$scope.list = [];	// summary table list

	$scope.summaryObj = {};
	$scope.order = "";
	$scope.reverse = false;

	$scope.loadProducts = function() {
		$http({
			method: 'GET',
			url: 	'serverside.php',
		}).then(function mySucces(response) {
			$scope.products = response.data.products;
		}, function myError(response) {
			console.log(response.statusText);
		});
	}

	$scope.saveProduct = function() {
		var product = {
			"name"			: $scope.name,
			"calories"		: $scope.calories,
			"proteins"		: $scope.proteins,
			"fats"			: $scope.fats,
			"carbohydrates"	: $scope.carbohydrates
		}

		var jsonProduct = JSON.stringify(product);

		$http({
			method: 'GET',
			url: 	'saveproduct.php?q=' + jsonProduct
		}).then(function mySucces(response) {
			response.data ?	$scope.products.push(product) : null
		}, function myError(response) {
			console.log(response.data);
		});
	}

	$scope.updateProduct = function(event, obj) {

		var name = obj.x.name
		var column = event.target.attributes.getNamedItem("data-column").value;
		var value = event.target.innerText;

		var product = {
			"name" 	 : name,
			"column" : column,
			"value"  : value
		}

		var jsonProduct = JSON.stringify(product);

		$http({
			method: 'GET',
			url: 	'updateproduct.php?q=' + jsonProduct
		}).then(function mySucces(response) {
			console.log(response.data);
		}, function myError(response) {
			console.log(response.data);
		});
	}

	$scope.calculate = function(obj, event) {

		var prod = obj.x;
		prod.weight = event.target.value;

		var containObj = isContain(prod, $scope.list);

		if (prod.weight) {
			//add product to array if list not contain it
			if (!containObj.is) {
				$scope.list.push( $scope.calculateProduct(prod) );
			}
		} else {
			// remove product from array if list contain it
			if (containObj.is) {
				$scope.list.splice(containObj.index, 1);
			}
		}

		// check that array contains an element or not
		function isContain(product, list) {

			var obj = {
				"is": false,
				"index": 0
			};

			list.forEach(function (curVal, index) {
				if (product.name === curVal.name) {
					obj.is = true;
					obj.index = index;
				}
			});
			return obj;
		}

		$scope.calculateSummary($scope.list);
	}

	$scope.calculateProduct = function(prod) {

		var obj = {}

		obj.name 	= prod.name;
		obj.weight 			= prod.weight;
		obj.calories 		= prod.calories * prod.weight / 100;
		obj.proteins 		= prod.proteins * prod.weight / 100;
		obj.fats 			= prod.fats * prod.weight / 100;
		obj.carbohydrates 	= prod.carbohydrates * prod.weight / 100;
		

		return obj;
	}

	// fill up summary table
	$scope.calculateSummary = function(list) {

		var obj = {
			"totalWeight"		: 0, 
			"totalCalories"		: 0,
			"totalProteins"		: 0,
			"totalFats"			: 0,
			"totalCarbohydrates": 0
		};

		for(var prod of list) {
			obj.totalWeight 		+= parseFloat(prod.weight);
			obj.totalCalories 		+= parseFloat(prod.calories);
			obj.totalProteins 		+= parseFloat(prod.proteins);
			obj.totalFats 			+= parseFloat(prod.fats);
			obj.totalCarbohydrates 	+= parseFloat(prod.carbohydrates);
		}

		$scope.summaryObj = obj;
	}

	// define to show or hide summary table
	$scope.trig = function() {
		return Boolean($scope.list.length);
	}

	$scope.sortBy = function(order) {
		$scope.order = order;
		$scope.reverse = !$scope.reverse;
	}
});
</script>

</body>
</html>