<!DOCTYPE html>
<html>
<head>
	<title>AngularJS</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="loadProducts()">

	<span class="table-header">You can add new products here</span>
	<table id="new-product">
		<tr>
			<th>Product name</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
			<th></th>
		</tr>
		<tr>
			<td>
				<input type="text" ng-model="product_name">
			</td>
			<td>
				<input type="number" ng-model="calories">
			</td>
			<td>
				<input type="number" ng-model="proteins">
			</td>
			<td>
				<input type="number" ng-model="fats">
			</td>
			<td>
				<input type="number" ng-model="carbohydrates">
			</td>
			<td>
				<input type="button" value="Save" ng-click="saveProduct()" />
			</td>
		</tr>
	</table>

	<span class="table-header header-top-offset">Choose products that you have eat today</span>
	<table id="list-products">
		<tr>
			<th>Product name</th>
			<th>Weight</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
		</tr>
		<tr ng-repeat="x in products">
			<td data-column="name" 			contenteditable ng-blur="updateProduct($event, this)">{{ x.product_name }}</td>
			<td><input type="number" 		ng-blur="calculate(this, $event)"></td>
			<td data-column="calories" 		contenteditable ng-blur="updateProduct($event, this)">{{ x.calories }}</td>
			<td data-column="proteins" 		contenteditable ng-blur="updateProduct($event, this)">{{ x.proteins }}</td>
			<td data-column="fats" 			contenteditable ng-blur="updateProduct($event, this)">{{ x.fats }}</td>
			<td data-column="carbohydrates" contenteditable ng-blur="updateProduct($event, this)">{{ x.carbohydrates }}</td>
		</tr>
	</table>

	<span class="table-header header-top-offset">Calculated values</span>
	<table id="summary">
		<tr>
			<th>Product name</th>
			<th>Weight</th>
			<th>Calories</th>
			<th>Proteins</th>
			<th>Fats</th>
			<th>Carbohydrates</th>
		</tr>

		<tr ng-repeat="x in list">
			<td>{{ x.product_name }}</td>
			<td>{{ x.weight }}</td>
			<td>{{ x.calories }}</td>
			<td>{{ x.proteins }}</td>
			<td>{{ x.fats }}</td>
			<td>{{ x.carbohydrates }}</td>
		</tr>

		<tr>
			<td>Summary</td>
			<td>{{ summaryObj.totalWeight }}</td>
			<td>{{ summaryObj.totalCalories | number: 1 }}</td>
			<td>{{ summaryObj.totalProteins | number: 1 }}</td>
			<td>{{ summaryObj.totalFats | number: 1 }}</td>
			<td>{{ summaryObj.totalCarbohydrates | number: 1 }}</td>
		</tr>
	</table>
</div>

<script>
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope, $http) {
	$scope.products = [];

	$scope.product_name = "";
	$scope.weight;
	$scope.calories;
	$scope.proteins;
	$scope.fats;
	$scope.carbohydrates;

	$scope.list = [];

	$scope.summaryObj = {};

	$scope.loadProducts = function() {
		$http({
			method: 'GET',
			url: 	'serverside.php',
		}).then(function mySucces(response) {
			$scope.products = response.data.products;
		}, function myError(response) {
			console.log(response.statusText);
		});
	}

	$scope.saveProduct = function() {
		var product = {
			"product_name"	: $scope.product_name,
			"calories"		: $scope.calories,
			"proteins"		: $scope.proteins,
			"fats"			: $scope.fats,
			"carbohydrates"	: $scope.carbohydrates
		}

		var jsonProduct = JSON.stringify(product);

		$http({
			method: 'GET',
			url: 	'saveproduct.php?q=' + jsonProduct
		}).then(function mySucces(response) {
			console.log(response.data);
		}, function myError(response) {
			console.log(response.statusText);
		});
	}

	$scope.updateProduct = function(event, obj) {

		var name = obj.x.product_name
		var column = event.target.attributes.getNamedItem("data-column").value;
		var value = event.target.innerText;

		var product = {
			"name" 	 : name,
			"column" : column,
			"value"  : value
		}

		var jsonProduct = JSON.stringify(product);

		$http({
			method: 'GET',
			url: 	'updateproduct.php?q=' + jsonProduct
		}).then(function mySucces(response) {
			console.log(response.data);
		}, function myError(response) {
			console.log(response.data);
		});
	}

	$scope.calculate = function(obj, event) {

		var prod = obj.x;

		// calculate products that have weight
		if (event.target.value) {
			prod.weight = event.target.value;	
		} else {
			return;
		}
		

		// first time add product to array
		if ($scope.list.length === 0) {
			$scope.list.push( $scope.calculateProduct(prod) );
		}

		var add = false;

		// to add on not to add))))
		for (obj of $scope.list) {
			if (prod.product_name !== obj.product_name) {
				add = true;
			} else {
				add = false;
			}
		}

		if (add) {
			$scope.list.push( $scope.calculateProduct(prod) );
		}

		$scope.calculateSummary($scope.list);
	}

	$scope.calculateProduct = function(prod) {

		var obj = {}

		obj.product_name 	= prod.product_name;
		obj.weight 			= prod.weight;
		obj.calories 		= prod.calories * prod.weight / 100;
		obj.proteins 		= prod.proteins * prod.weight / 100;
		obj.fats 			= prod.fats * prod.weight / 100;
		obj.carbohydrates 	= prod.carbohydrates * prod.weight / 100;
		

		return obj;
	}

	$scope.calculateSummary = function(list) {

		var obj = {
			"totalWeight"		: 0, 
			"totalCalories"		: 0,
			"totalProteins"		: 0,
			"totalFats"			: 0,
			"totalCarbohydrates": 0
		};

		for(var prod of list) {
			obj.totalWeight 		+= parseFloat(prod.weight);
			obj.totalCalories 		+= parseFloat(prod.calories);
			obj.totalProteins 		+= parseFloat(prod.proteins);
			obj.totalFats 			+= parseFloat(prod.fats);
			obj.totalCarbohydrates 	+= parseFloat(prod.carbohydrates);
		}

		$scope.summaryObj = obj;
	}
});
</script>

</body>
</html>