body {
    background-image: url("background.png");
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid black;
}

#list-products tr:hover {background-color: #f5f5f5}

th {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
}

td {
	padding: 5px;
}

/* Editable table cells */
td[contenteditable="true"]:active,
td[contenteditable="true"]:focus {
    -moz-box-shadow: 0 0 8px #20B2AA;
    -webkit-box-shadow: 0 0 8px #20B2AA;
    box-shadow: 0 0 8px #20B2AA;
    border: 1px solid #20B2AA;
}

.table-header {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	display: table;
}

.header-top-offset {
	margin-top: 100px;
}